{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<body>This is a list of backpacks and their corresponding weight and dimenions.</body>
<br/><br/>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Brand</th>
      <th scope="col">Backpack</th>
      <th scope="col">Length</th>
      <th scope="col">Width</th>
      <th scope="col">Depth</th>
      <th scope="col">Weight</th>
    </tr>
  </thead>
  <tbody>


{% if records %}
  {% for backpack in backpacks %}
    <tr>
    	<td><a href="{% url 'backpack' backpack_record.id %}">{{ backpack_record.id }}</a></td>
      <td>{{ backpack.brand }}</td>
      <td>{{ backpack.backpack_name }}</td>
      <td>{{ backpack.b_length }}</td>
      <td>{{ backpack.b_width }}</td>
      <td>{{ backpack.b_depth }}</td>
      <td>{{ backpack.b_weight }}</td>
    </tr>
  {% endfor %}

{% endif %}



{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>

{% endif %}

{% endblock %}