{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<h1>Guten tag!</h1>

<body>My name is Julius and this is my project for LIS 160. My idea was to create two tables: (1) a list of carry-on limits among different airlines in the Philippines and (2) a list of backpacks along with their weight and dimensions. The plan was to create a simple relational database that lets the user match the dimensions and weight of a backpack to an airline's carry-on limits but due to time constraints and skill issue on my part, I didn't add that feature to preserve my sanity. Besides, I think the requirement is that the website works flawlessly, it has CRUD, and a touch of personalization right? I got finals coming up too bruh o(╥﹏╥)o</body><br/><br/>

<body>For a bit of context on the purpose of this site, I discovered an online community dedicated to "One Bag Travel". It's for people who frequently travel on airlines and want to avoid checked in luggage at all costs. This could either be achieved by practicing minimalism, which means only carrying the bare essentials and what you need, or this can be achieved by engaging in consumerism, which is by buying ultralight clothing, backpacks, etc. I mean, most of these niche internet hobbies are just consumerism but nonetheless, I still find it interesting. If you're just as curious as me and you wish to learn more about it, check out the <a href="https://www.reddit.com/r/onebag/wiki/index/">r/onebag</a> subreddit! It contains useful information and testimonials from people who've tried one bag travel. Personally, I'm also interested in traveling around the world someday and I just wanted to list down cool backpacks I found, which were my motivations for creating this database.
</body><br/><br/>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}