{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<h1>Guten tag!</h1>

<body>My name is Julius and this is my project for LIS 160. My idea was to create two tables: (1) a list of carry-on limits among different airlines in the Philippines and (2) a list of backpack with their weight and dimensions. The plan was to eventually let the user compare the two tables to see if a certain backpack will be allowed as carry-on for a certain airline but due to time constraints and skill issue on my part, I didn't add that feature to preserve my sanity. Besides, the only requirement is that the website works flawlessly, it has CRUD, and a touch of personalization right? I got finals coming up bruh o(╥﹏╥)o</body><br/><br/>

<body>For a bit of context on the purpose of this site, there's a thing called "One Bag Travel". It's for people who frequently travel on airlines and want to avoid checked in luggage at all costs. This could mean that someone practices minimalism by only carrying what they need but on the other end of the spectrum is consumerism, which means buying ultralight gear and the most expensive backpacks on the market. I mean, most of the stuff I've seen in niche internet hobbies are consumerist but I still find it interesting and I am interested in traveling around different corners of the world someday.</body>


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}